@model IEnumerable<ADB_ASG1.Models.CreditCardStatement>

@{
    ViewData["Title"] = "ViewAllMonthlyStatements";
}

<h1>ViewAllMonthlyStatements</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ccsNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ccsBillDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ccsPayDueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ccsCashback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ccsTotalAmountDue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ccsNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ccsBillDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ccsPayDueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ccsCashback)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ccsTotalAmountDue)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
